# Core Data Science & Machine Learning
pandas
numpy
scikit-learn
xgboost
category-encoders
joblib
tqdm

# Data Retrieval & Geolocation
requests
airportsdata

# AI Orchestration, Gemini & Groq LLMs
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain-huggingface
sentence-transformers

# Vector Search (RAG)
faiss-cpu

# Application Dashboard
streamlit
